/* src/ReservationHistory.css */
.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

.reservation-list {
    max-height: 400px; /* 고정된 높이 */
    overflow-y: auto; /* 수직 스크롤 추가 */
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px;
}

.list-group-item p {
    margin: 0;
}

.list-group-item p + p {
    margin-top: 10px;
}
